<% include partials/headerProp.ejs%>
	
	<div class="container mt-4 card bg-light" style="width: 200rem;">
	    <form action="/adm/prop/register" method="POST">
	        
          <div class="form-row mt-2">
            <div class="form-group col-md-6">
              <label for="inputName4">Nome*</label>
              <input type="first name" class="form-control" name="func[Name]" placeholder="Jailson" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastName4">Sobrenome*</label>
              <input type="last name" class="form-control" name="func[LastName]" placeholder="Mendes" required>
            </div>
          </div>
	             
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Email*</label>
              <input type="email" class="form-control" name="func[Email]" placeholder="Jailson@gmail.com" required>
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Senha*</label>
              <input type="password" class="form-control" name="func[Password]" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAddress">CPF*</label>
              <input type="number" class="form-control" name="func[CPF]" placeholder="12345678900" required>
            </div>
            
            <div class="form-group col-md-6">
              <label for="inputCity">Telefone*</label>
              <input type="text" class="form-control" name="func[Telefone]" placeholder="44998243908" required>
            </div>
          </div>
          
          <button type="submit" class="mb-4 btn btn-primary">Sign in</button>
        </form>
	</div>
<% include partials/footer.ejs%>
